<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/rest.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <div class="header">
            <h1>Blog</h1>
        </div>
    </header>
    <div class="content">
        <div class="picture">
            <p>用户昵称:</p>
        </div>

        <div class="content_box">
            <a href="/publish" class=" btn" id="blog_btn">写博客</a>
        </div>

    </div>
    <ul class="article" id="article_mail">
    </ul>
    <div class="info">
        <a href="javascript:;" class="prev" id="prev">上一页</a>
        <p id="info_message"></p>
        <a href="javascript:;" class="next" id="next">下一页</a>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/index.js"></script>

    <script id="test" type="text/html">
        {{each list  value i}}
        <li>
            <h2><a href="/acticle/?id={{value._id}}" id="{{value._id}}">{{value.title}}</a></h2>
            <div class="article_info">
                <p>{{value.content}}</p>
            </div>
            <p class="date">{{value.date}}</p>
            <div class="comment_like">
                   <a href="javascript:;" class="like_icon"></a>
                    <span id="like_number">{{value.like}}</span>
            </div>
            
        </li>
        {{/each}}
    </script>
</body>

</html>