header {
    width: 100%;
    height: 50px;
    background: #cdcdcd;
}

.header {
    width: 1000px;
    margin: 0 auto;
}

header h1 {
    line-height: 50px;
    color: #fff;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

.content div {
    display: inline-block;
}

.content .picture p {
    margin: 20px 0 0 35px;
}

.content_box {
    margin: 20px 70px;
    text-align: right;
}

.content_box .content_public {
    width: 600px;
    height: 200px;
    padding: 10px 10px;
    resize: none;
}

.article {
    width: 1000px;
    margin: 50px auto;
    display: block;
    word-wrap: break-word;
}

.article li {
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.article li:first {
    border-top: 1px solid #000;
}

.article li .date {
    margin-top: 10px;
}

.article h2 {
    text-align: center;
}

.article h2 a {
    color: rgba(0, 0, 0, 0.63);
}

.article h2 a:hover {
    color: rgba(0, 0, 255, 0.192);
    text-decoration: underline;
}

.article .interaction {
    text-align: right;
    margin-top: 8px;
    margin-right: 6px;
}

.article .interaction p {
    float: left;
}

.article .interaction span {
    cursor: pointer;
    margin: 3px;
}

.info {
    width: 1000px;
    margin: 0 auto;
    text-align: right;
}

.info a {
    display: inline-block;
    width: 50px;
}

.info p {
    display: inline-block;
}

.comment_like {
    float: right;
    margin-right: 80px;
}

.comment_like a {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url('/images/favorite.png') no-repeat 0 0;
    margin-bottom: -2px;
}

.article_info {
    height: 20px;
    overflow: hidden;
}